<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Utilizando Modulos</title>
</head>

<body>

    <div ng-app="test" ng-controller="Ctrl-test">
        <p>Name: <input type="text" ng-model="name"></p>
        <p>LastName: <input type="text" ng-model="lname"></p>

        <p>{{name + ' ' + lname}}</p>
    </div>

</body>
<script>
    var app = angular.module('test', []); // definindo modulo para variável app
    app.controller('Ctrl-test', function ($scope) { // acessando variáveis locais do módulo test
        $scope.name = 'Lúcio';
        $scope.lname = 'Brito';
    });
</script>

</html>